@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.monts {
  font-family: "Montserrat", sans-serif;
}

.jose {
  font-family: "Josefin Sans", sans-serif;
}
